<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="perspective_optionalemail" frontName="perspective_optionalemail">
            <module name="Perspective_OptionalEmail" before="Magento_Backend"/>
        </route>
    </router>
</config>
